body {
	background-image: url("bgimg.jpg");
	background-repeat: space-between;
	background-position: left;
	padding: 10px;
}
h1 {
	text-align: center;
	background-color: grey;
	color: white;
	border: 5px solid #f44336;
}
button a {
	padding: 5px;
	border: 8px solid #ff37da;
	border-radius: 8px;
}
img {
	width: 280px;
	
}
.ls1 {
	width: 280px;
	height: 200px;
}
h3 {
	color: white;
	font-size: xx-large;
	margin: 10px;
	background-color: black;
	text-align: center;
}